* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url(banner.png);
    height: 100vh;
    background-position: center;
    width: 100%;
    background-size: cover;
    position: relative;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2% 6%;
}

img {
    width: 150px;
}

.nav-link {
    flex: 1;
    text-align: right;
}

.nav-link ul li {
    display: inline-block;
    list-style: none;
    text-decoration: none;
    padding: 8px 12px;
    position: relative;
}

.nav-link ul li a {
    color: white;
    text-decoration: none;
    font-size: 13px;
}

.nav-link ul li::after {
    content: '';
    background: #f44336;
    height: 2px;
    width: 0;
    display: block;
    margin: auto;
    transition: .5s;
}

.nav-link ul li:hover::after {
    width: 100%;
}

.tex-box {
    width: 90%;
    color: #fff;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, 50%);
    text-align: center;
}

.tex-box h1 {
    font-size: 52px;
}

.tex-box p {
    margin: 10px 0px 40px;
    font-size: 15px;
    color: #fff;
}

.hero-btn {
    display: inline-block;
    color: #fff;
    font-size: 14px;
    border: 1px solid #fff;
    text-decoration: none;
    padding: 12px 34px;
    background: transparent;
    cursor: pointer;
}

.hero-btn:hover {
    background-color: #f44336;
    transition: 1s;
    border: 1px solid #f44336;
}

.menu-btn i {
    display: none;
    margin-bottom: 15px;
}

#click {
    display: none;
}

@media(max-width:709px) {
    .tex-box h1 {
        font-size: 20px;
    }

    .tex-box p {
        font-size: 6px;
    }

    .hero-btn:hover {
        background-color: #f44336;
        transition: 1s;
        border: 1px solid #f44336;
    }

    .nav-link ul li {
        display: block;
    }

    .nav-link {
        background-color: #f44336;
        position: absolute;
        top: 45px;
        right: -100%;
        height: 100vh;
        text-align: left;
        width: 100%;
        z-index: 2;
        transition:all  1s ease;
        padding:  20px 20px;
        
    }
    ul a{
        border-bottom: 1px solid black;
        display: block;
        padding: 10px;

    }
  .menu-btn i {
        display: block;
        cursor: pointer;
        font-size: 20px;
        color: white;
}
#click:checked ~ .nav-link {
        right: 0;
}
#click:checked ~ .menu-btn i::before{
        color: white;
content: "\f00d";
}

}
 /* ---course--- */
 .course{
    margin: auto;
    width: 80%;
    text-align: center;
    padding-top:100px ;
 }
 h1{
    font-size: 36px;
    font-weight: 600;
 }
 p{
    font-size: 15px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
    color: #777;
 }
 .row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}
.Course-col{
    flex-basis: 31%;
    background: #fff3f3;
    margin-bottom: 5%;
    border-radius: 10px;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: .5s;
}
h3{
    text-align: center;
    font-weight: 600;
    margin: 10px 0px;
}
.Course-col:hover{
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, .2);
}
@media(max-width:709px){
    .row{
        flex-direction: column;
    } 
}

/* --- campus--- */
.campus{
    margin: auto;
    text-align: center;
    width: 80%;
    padding-top: 50px;
}
.campus-col{
    flex-basis: 31%;
    border-radius: 10px;
    position: relative;
    margin-bottom: 30px;
    overflow: hidden;
}
.campus-col img{
    width: 100%;
}
.layor{
    position: absolute;
    left: 0;
    top:0;
    height: 100%;
    width: 100%;
    background: transparent;
    transition: .5s;
}
.layor:hover{
    background-color: rgba(266,0,0,.7);
}
.layor h3{
    width: 100%;
    font-weight: 500;
    font-size: 26px;
    color: #fff;
    position: absolute;
   transform: translateX(-50%);
   left: 50%;
    bottom: 0;
    opacity: 0;
    transition: .5s;
}
.layor:hover h3{
    bottom: 49%;
    opacity: 1;
}
.facilities{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}
.facilities-col{
    flex-basis: 31%;
    text-align: left;
    margin-bottom: 5%;
    border-radius: 10px;
}
.facilities-col img{
    width: 100%;
    border-radius: 10px;
}
.facilities-col p{
    padding: 0;
}
.facilities-col h3{
margin-top: 16px;
text-align: left;
margin-bottom: 15px;
}
.testimonials{
    text-align: center;
    margin: auto;
    width: 80%;
    padding-top: 100px;
}
.testimonials-col{
    flex-basis: 44%;
    text-align: left;
    margin-bottom: 5%;
    border-radius: 10px;
    background: #fff3f3;
    padding: 25px;
    display: flex;
    cursor: pointer;
}
.testimonials-col img{
height: 40px;
border-radius: 50%;
margin-left: 5px;
margin-right: 30px;
}
.testimonials-col p{
    padding: 0;
}
.testimonials-col h3{
    text-align: left;
    margin-top: 15px;
}
.testimonials-col .fa{
    color: #f44336;
}
@media(max-width: 700px){
    .testimonials-col img{
        margin-left: 0px;
        margin-right: 15px; 
    }
}
/* --- call to action --- */
.cta{
    text-align: center;
    width: 80%;
    margin: 100px auto;
    background-image:linear-gradient(rgba(0,0,0,.7) , rgba(0,0,0,.7)) , url(banner2.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    padding: 100px 0;
}
.cta h1{
    color: #fff;
    margin-bottom: 40px;
    padding: 0;
}
@media(max-width: 700px){
    .cta h1{
        font-size: 24px; 
    }
}
.footer{
    text-align: center;
    width: 100%;
    padding: 30px 0;
}
.footer h4{
    margin-bottom: 25px;
    margin-left: 20px;
    font-weight: 600;
}
.fa-brands{
    color: #f44336;
    margin: 0 13px;
    cursor: pointer;
    padding: 18px 0;
}
/* --- about page --- */
.sub-header{
    height: 50vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,.7),rgba(4,9,30,.7)),url(background.jpg);
    background-position: center;
    background-size: cover;
    text-align: center;
    color: #fff;
}
.sub-header h1{
margin-top: 100px;
}
.about-us{
width: 80%;
margin: auto;
padding-bottom: 50px;
padding-top: 80px;
}
.about-col{
    flex-basis: 48%;
    padding: 30px 2px;
}
.about-col img{
    width: 100%;
}
.about-col h1{
padding-top: 0;
}
.about-col p{
padding:15px 0;
}
.red-btn{
    border: 1px solid #f44336;
    background: transparent;
    color: #f44336;
}
.red-btn:hover{
    color: #fff;
}
/* --- blog page ---  */
.blog-contact{
    width: 80%;
    margin: auto;
    padding: 60px 0;
}
.blog-left{
    flex-basis: 65%;
}
.blog-left img{
    width: 100%;

}
.blog-left h2{
    color: #222;
    font-weight: 600;
    margin: 30px 0;
}
.blog-left p{
    color: #999;
    padding: 0;
}
.blog-right{
    flex-basis: 32%;
}
.blog-right h3{
    background: #f44336;
    color: #fff;
    font-size: 16px;
    margin-bottom: 20px;
    padding: 7px 0;
}
.blog-right div{
    display: flex;
    justify-content: space-between;
    text-align: center;
    color: #555;
    padding: 8px;
    box-sizing: border-box;
}
.comment-box{
    border: 1px solid #ccc;
    margin: 50px 0;
    padding: 10px 20px;
}
.comment-box h3{
    text-align: left;
}
.comment-form input, .comment-form textarea{
width: 100%;
padding: 10px;
outline: none;
border: none;
background: #f0f0f0;
margin: 15px 0;
box-sizing: border-box;
}
.comment-form button{
    margin: 10px 0;
}
@media(max-width:700px){
h1{
    font-size: 16px;
}
}
/* --- contact --- */
.location{
width: 80%;
margin: auto;
padding: 80px 0;
}
.location iframe{
    width: 100%;
}
.Contact-us{
    width: 80%;
    margin: auto;
}
.contact-col{
    flex-basis: 48%;
    margin-bottom: 30px;
}
.contact-col div{
    display: flex;
    align-items: center;
    margin-bottom: 40px;

}
.contact-col div .fa-solid{
    color: #f44336;
    font-size: 28px;
    margin: 10px;
    margin-right: 30px;
}
.contact-col div p{
    padding: 0;
    
}
.contact-col div h5{
    font-size: 20px;
    margin-bottom: 5px;
    color: #555;
    font-weight: 400;
    
}